//*-----------Fonts-----------*/
@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,&display=swap);

//?----------Vars----------*/
:root{
    --bg-color: #121B25; 
    --accent-color: #15786C;
    --text-color: #d6d6d6; 
    --max-width-comtainer: 1450px;
    --font-logo: 'inter'; 
}
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
    list-style: none;
    text-decoration: none;
}  
body{
    font-family: 'Work Sans', sans-serif;
    background-color: var(--bg-color);
    color: #FFF;
    &.lock{
        overflow: hidden;
    }
}
.sub-title{
    color: #FFF;
    font-size: 26px;
    font-weight: 600;
    line-height: 126%; 
    letter-spacing: 0.26px;
    text-transform: capitalize;
}
.text{
    color: var(--text-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 170%; 
}
.title {
    color: #FFF;
    font-size: clamp(2.188rem, 1.951rem + 1.18vw, 3rem);
    font-weight: 600;
    line-height: 126%; 
    text-transform: capitalize;
}
//todo----------Header----------*/
@mixin logo {
    max-width: 200px;
    color: #FFF;
    font-family: var(--font-logo);
    font-size: 39px;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: -13px;
        width: 32px;
        height: 32px;
        background-color: var(--accent-color);
        z-index: -1;
    }
    @media (max-width: 992px) {
        font-size: 30px;
    }
}

[class*='__container'] {
    max-width: var(--max-width-comtainer);
    margin: 0 auto;
    padding: 0 15px;
}
.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.header {
    padding: 40px 0;
		&__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            @media (max-width: 992px) {
                gap: 5px;
                
            }
		}

		&__logo {
            @include logo;
		}

		&__navigation {
            display: flex;
            gap: clamp(1.25rem, -2.799rem + 8.44vw, 4.688rem);
            align-items: center;
		}

		&__menu {
            z-index: 5;
            @media (max-width: 992px) {
                position: absolute;
                top: 0;
                left: -100%;
                height: 100%;
                width: 80%;
                display: flex;
                background-color: var(--accent-color);
                overflow: auto;
                transition: .5s;
                &.active{
                    left: 0;
                }
                
            }
		}

		&__buttons {
            display: flex;
            gap: 5px;
		}

		&__btn {
            color: var(--text-color);
            @media (max-width: 992px) {
                width: 80px;
                height: 30px;
                
            }
		}
}
.menu {

    &__burger{
        display: none;
        @media screen and (max-width: 992px){
            display: flex;
            align-items: center;
            width: 30px;
            height: 30px;
            justify-content: center;
            position: relative;
            z-index: 3;
            span{
                width: 30px;
                height: 2px;
                background-color: #ffffff;
                &::before,
                &::after{
                    content:'';
                    width: 30px;
                    height: 2px;
                    position: absolute;
                    background-color: #ffffff;
                    transition: 0.5s;
                }
                &::before{
                    top: 3px;
                }
                &::after{
                    bottom: 3px;
                }
            }
            &.active{
                span{
                    height: 0;
                    &::before{
                        transform: rotate(-45deg);
                        top: 14px;
                    }
                    &::after{
                        transform: rotate(45deg);
                        bottom: 14px;
                    }
                }
            }
        }
    }

		&__body {
            display: flex;
            align-items: center;
            gap: 40px;
            @media (max-width: 992px) {
                flex-direction: column;
                margin: auto;
            }
		}

		&__link {
            color: var(--text-color);
            font-size: 16px;
            font-weight: 500;
            text-transform: capitalize;   
            transition: color 0.3s;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                bottom: -5px;
                left: 0;
                right: 0;
                height: 3px;
                background-color: var(--accent-color);
                opacity: 0;
                visibility: hidden;
                transition: opacity .3s;
            }
            @media (any-hover: hover) {
                &:hover{
                    color: #FFF;
                    &::before{
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            @media (max-width: 992px) {
                line-height: 50px;
                font-size: 30px;
            }
		}
}
.login {
    width: 100px;
    height: 41px;
    border: 1px solid var(--accent-color);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    transition: .3s;
    @media (any-hover: hover) {
        &:hover{
            background-color: var(--accent-color);
        }
    }
    @media (max-width: 992px) {
        display: none;
        
    }
}
.register {
    width: 100px;
    height: 41px;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    transition: .3s;
    @media (any-hover: hover) {
        &:hover{
            background-color: transparent;
        }
    }
}
//todo----------/Header----------*/

//!----------Hero----------*/
.page {
}
.hero {
    margin-top: clamp(1.875rem, -1.438rem + 6.9vw, 4.688rem);
    position: relative;
    .hero__rec{
        position: absolute;
        bottom: -240px;
        right: 0;
        z-index: -1;
    }
		&__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media (max-width: 1020px) {
                flex-direction: column;
            }
		}

		&__content {
            flex: 0 0 calc(700px / 1440px * 100%);
            margin-bottom: clamp(1.875rem, -7.696rem + 19.94vw, 10rem);
            position: relative;

		}

		&__title {
            color: #FFF;
            font-size: clamp(2.5rem, 0.439rem + 4.29vw, 4.25rem);
            font-weight: 600;
            line-height: 126%; 
            text-transform: capitalize;
            padding-bottom: clamp(0.625rem, 0.036rem + 1.23vw, 1.125rem);
		}

        &__text {
            padding-bottom: clamp(1.25rem, -1.695rem + 6.13vw, 3.75rem);

        }
        &__filter{
            height: 100px;
            width: 880px;
            background-color: #fff;
            position: absolute;
            @media (max-width: 1020px) {
                position: static;
                width: 100%;
            }
            @media (max-width: 800px) {
                height: 130px;
            }
            @media (max-width: 520px) {
                height: auto;
            }
        }
		&__img {
            img{
                max-width: 100%;
            }
		}
}
//!----------/Hero----------*/

.filter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 164px;
    color: var(--bg-color);
    @media (max-width: 800px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 520px) {
        grid-template-columns: 1fr;
    }
    &__block {
        display: flex;
        align-items: center;
        padding: 0 5px 0 40px;
    }

    &__button {
        padding: 5px;
        @media (max-width: 800px) and (min-width: 520px) {
            grid-column: 1 / 4;
        }
    }

    &__btn {
        color: #fff;
        font-size: 24px;
        font-weight: 500;
        text-transform: capitalize;
        height: 100%;
        width: 100%;
        background-color: var(--accent-color);
        transition: .2s;
        &:hover{
            background-color: #0e534b;
        }
        @media (max-width: 800px) {
            padding: 10px;
        }
    }
}
.block {

    &__filter {
        position: relative;
        cursor: pointer;
    }
}
.block-filter {
    &__button {
    }

    &__header {
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
    }

    &__type {
        color: var(--text-color);
        font-size: 16px;
        font-weight: 400;
        color: #858585;

    }

    &__icon {
        background: url(../img/arrow.png);
        background-size: cover;
        width: 9px;
        height: 13px;
        transition: .2s;
        &.active{
            transform: rotate(180deg);
        }
    }

    &__footer {
        font-size: 18px;
        font-weight: 600;
        line-height: 126%;
        text-transform: capitalize;
    }

    &__dropdown {
        z-index: 3;
        position: absolute;
        top: 105%;
        left: 0;
        right: 0;
        font-size: 15px;
        font-weight: 600;
        line-height: 126%;
        text-transform: capitalize;
        background-color: #fff;
        border-radius: 2px;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all .3s;
        box-shadow: 0 0 2px 2px var(--text-color);
        &.active{
            transform: translateY(5px);
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
    }

    &__item {
        padding: 10px;
        transition: all .4s;
        &:hover{
            background-color: var(--accent-color);
            color: #FFF;
        }
    }

}
.before__after{
    position: relative;
    &::before,
    &::after{
        content:'';
        position: absolute;
        height: 100%;
        width: 1px;
        background-color: var(--text-color);
    }
    &::before{
        left: 0;
    }
    &::after{
        right: 0;
    }
}
.border{
    border: 2px solid var(--text-color);
}
//!----------feuters----------*/
.feuters {
    padding-top: clamp(1.875rem, -9.168rem + 23.01vw, 11.25rem);
    padding-bottom: clamp(1.875rem, -0.852rem + 13.64vw, 11.25rem);
    &__container {
        display: flex;
        flex-direction: column;
        gap: clamp(1.875rem, 1.475rem + 2vw, 3.25rem);
    }

    &__title {
    }

    &__box {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        @media (max-width: 845px) {
            justify-content: center;
        }
    }

    &__item {
    }

    &__img {
        text-align: center;
        max-width: 100%;
    }
}
//!----------/feuters----------*/

//!----------Swiper----------*/
.popular {
    padding: clamp(1.875rem, -0.489rem + 11.82vw, 10rem) 0;
    background: #1A242F url(../img/bg.png) center center/cover no-repeat;
    &__container {
    }

    &__title {
        padding-bottom: clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem);

    }
}
.popular-slide {
    display: flex;
    flex-direction: column;
    gap: 27px;
    @media (max-width: 500px) {
        text-align: center;
    }
}
.popular {

		&__slider-thumb {
            img{
                max-width: 100%;
            }
		}

		&__slide-text {
		}

		&__slide-title {
            color: #FFF;
            font-size: 26px;
            font-weight: 600;
            line-height: 126%; 
            letter-spacing: 0.26px;
            text-transform: capitalize;
		}

		&__slide-desc {
            color: #D6D6D6;
            font-size: 18px;
            font-weight: 400;
            line-height: 170%; 
		}

		&__slide-labels {
            display: flex;
            gap: 20px;
            align-items: center;
            @media (max-width: 500px) {
                 justify-content: center;
            }
		}

		&__slide-label {
            display: flex;
            gap: 4px;
            align-items: center;
            flex-wrap: wrap;
		}
}
.popular {

    &__slider {
        position: relative;
    }
    &__link{
        display: inline-block;
        padding: 22px 42px;
        color: #FFF;
        background-color: var(--accent-color);
        margin: 68px auto 0;
        color: #FFF;
        font-size: 24px;
        font-weight: 500;
    }
}
.swiper {
    overflow: hidden;
}
.swiper-wrapper {
    display: inline-flex;

}
.swiper-slide {
    max-width: 460px;

}
.swiper-buttons{
    width: 1440px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 30%;
    @media (max-width: 1700px) {
        width: auto;
        top: -100px;
        right: 100px;
    }
    @media (max-width: 620px) {
       display: none;
    }
}
.swiper-popular-prev{
    position: absolute;
    left: -130px;
}
.swiper-popular-next{
    transform: rotate(180deg);
    position: absolute;
    right: -100px;
}
.swiper-popular__arrow{
    height: 78px;
    width: 78px;
    border-radius: 50%;
    background: url(../img/logo/arrow-left.svg) center center no-repeat;
    border: 1px solid #ffffff ;
}
.popular-link{
    text-align: center;
}
//!----------/Swiper----------*/
//!----------Why----------*/
.why {
    padding-top: clamp(1.875rem, -0.852rem + 13.64vw, 11.25rem);
    padding-bottom: clamp(1.875rem, 0.693rem + 5.91vw, 5.938rem);
    &__container {
    }

    &__title {
        text-align: center;
        padding: 0 0 60px 0;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        flex-wrap: wrap;
        @media (max-width: 1230px) {
            justify-content: center;
        }
    }

    &__body-item {
        max-width: 378px;
    }
}
.body-item {

    &__logo {
        width: clamp(6.25rem, 4.795rem + 7.27vw, 11.25rem);
        height: clamp(6.25rem, 4.795rem + 7.27vw, 11.25rem);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin: 0 auto;
        svg{
            width: clamp(2.625rem, 2.08rem + 2.73vw, 4.5rem);
            height: clamp(2.625rem, 2.08rem + 2.73vw, 4.5rem);
        }
        &::before{
            content: '';
            position: absolute;
            width: clamp(6.25rem, 4.795rem + 7.27vw, 11.25rem);
            height: clamp(6.25rem, 4.795rem + 7.27vw, 11.25rem);
            border-radius: 50%;
            background-color: var(--accent-color);
            opacity: .12;
        }
        padding-bottom: clamp(1.25rem, 0.959rem + 1.45vw, 2.25rem);
    }

    &__title {
        color: #FFF;
        text-align: center;
        font-size: 26px;
        font-weight: 600;
        line-height: 126%; 
        letter-spacing: 0.26px;
        text-transform: capitalize;
        padding: 0 0 11px 0;
    }

    &__text {
        text-align: center;
    }
} 
//!----------/Why----------*/

//!----------Reviews----------*/
.reviews {
    position: relative;
    .reviews__deco{
        position: absolute;
        bottom: -200px;
        left: 0;
    }
    padding-top: clamp(1.875rem, 0.875rem + 5vw, 5.313rem);
    padding-bottom: clamp(1.875rem, 0.875rem + 5vw, 5.313rem);
    &__container {
        max-width: 1020px;
        margin: 0 auto;
        position: relative;
    }

    &__quotes {
        color: var(--accent-color);
        font-size: 260px;
        font-weight: 400;
        line-height: 0;
        text-transform: capitalize;
        position: absolute;
        top: 10px; 
        left: -15px;
    }

    &__slider {
    }
}
.slider-reviews {

    &__slide {
    }

    &__text {
        font-size: 32px;
        font-weight: 400;
        line-height: 157%;
        text-transform: capitalize;
        padding-bottom: clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem);
    }

    &__info {
    }

    &__name {
        font-size: 22px;
        font-weight: 600;
        line-height: 126%;
        letter-spacing: 0.22px;
        text-transform: capitalize;
    }
} 
.swiper-reviews {

    &__buttons {
        display: flex;
        align-items: center;
        width: 115px;
        gap: 70px;
        position: absolute;
        bottom: 0px;
        right: 0;
        overflow: hidden;
        &::before{
            content: '';
            position: absolute;
            left: 50%;
            top: 0;
            height: 100px;
            width: 1px;
            background-color: #353F49;
        }
    }

    &__arrow {
        svg{
            fill: #fff;
        }
    }
}
.swiper-reviews-prev {
    transform: rotate(-180deg);
}
.swiper-reviews-next {
    padding-top: 5px;
}
.mw{
    max-width: 1020px;
}
//!----------/Reviews----------*/

//!----------help----------*/
.help {
    position: relative;
    .help__dec{
        position: absolute;
        bottom: -105px;
        right: 0;
    }
    padding-top: clamp(1.875rem, -0.489rem + 11.82vw, 10rem);
    padding-bottom: clamp(1.875rem, -0.489rem + 11.82vw, 10rem);
    background: linear-gradient(270deg, #1A242F 0.01%, rgba(26, 36, 47, 0.00) 82.97%);
    &__container {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
        @media (max-width: 1100px) {
            flex-direction: column;
        }
    }

    &__galery {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        max-width: 720px;
        padding: 10px;
        img{
            max-width: 100%;
        }
    }

    &__info {
        max-width: 637px;
    }

    &__title {
        padding: 0 0 22px 0;
    }

    &__text {
        padding: 0 0 45px 0;
    }
    &__link{
        padding: 22px 42px;
        background-color: var(--accent-color);
        color: #FFF;
        font-size: 24px;
        font-weight: 500;
        text-transform: capitalize;
    }
}
//!----------/help----------*/

//!----------simply----------*/
.simply {
    position: relative;
    .simply__dec{
        position: absolute;
        bottom: -206px;
        left: -20px;
        z-index: -1;
    }
    padding-top: clamp(1.875rem, -0.852rem + 13.64vw, 11.25rem);
    padding-bottom: clamp(1.875rem, -0.852rem + 13.64vw, 11.25rem);
    &__container {
        max-width: 1237px;
        display: flex;
        align-items: center;
        gap: 20px;
        @media (max-width: 950px) {
            flex-direction: column;
        }
    }

    &__title {
        max-width: 512px;
    }

    &__info {
        max-width: 637px;
    }
}
.simply-info {

    &__text {
        padding: 0 0 32px 0;
    }

    &__link {
        padding: 22px 42px;
        background-color: var(--accent-color);
        color: #FFF;
        font-size: 24px;
        font-weight: 500;
    }
}
//!----------/simply----------*/
//todo----------Footer----------*/
.footer {
    position: relative;
    &::before{
        content: '';
        width: 100%;
        height: 1px;
        background: #303A44;
        position: absolute;
        bottom: 60px;
        @media (max-width: 700px) {
            display: none;
        }
    }
    background: #1A242F;
    &__container {
        padding-top: clamp(1.875rem, -0.125rem + 10vw, 8.75rem);
        padding-bottom: clamp(1.875rem, 0.675rem + 6vw, 6rem);    
        display: grid;
        grid-template-columns: 480px 1fr;
        @media (max-width: 1125px) {
            grid-template-columns: 360px 1fr;
        }
        @media (max-width: 700px) {
            grid-template-rows: 200px 1fr;
        }
    }

    &__menu-list {
        display: flex;
        flex-direction: column;
        gap: 22px;
        @media (max-width: 700px) {
            grid-column: 1 / 3;
        }
    }

    &__menu-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        @media (max-width: 1125px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 960px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 350px) {
            grid-template-columns:  1fr;
        }
    }

    &__copy {
    }
}
.footer-menu {
    min-width: none;
    &__item {
    }
}
.menu-logo {
    display: flex;
    gap: 31px;
    align-items: center;
}
.item-logo {

    &__link {
        svg{
            fill: #555E68;
            transition: .3s;
            &:hover{
                fill: #FFF
            }
        }
    }
}
.copy-footer {
    padding: 15px;
    max-width: var(--max-width-comtainer);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 700px) {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}
.logo{
    @include logo; 
    position: relative;
    z-index: 2;
    &::before{
        z-index: -1;
    }
}
.fmv{
    display: flex;
    align-items: start;

}
//todo----------/Footer----------*/